@font-face {
  font-family: 'Futura XBlkCnIt BT';
  src: url('/fonts/Futura-XBlkCnIt-BT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Futura XBlkCnIt BT', sans-serif; /* Fallback to sans-serif */
}
